<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer class="footer">
      <div class="nowListening">
        <div class="nowListening--image">
          <img
            src="https://i.scdn.co/image/ab67616d000048518c75302ce7a8e048ffe5b9f3"
            alt=""
          />
        </div>
        <div class="nowListening--description">
          <p class="nowListening--Name">Gata</p>
          <p class="nowListening--Artist">OM1</p>
        </div>
      </div>
      <div class="songPlayer">
        <div class="songPlayer--controls">
          <img
            src="./assets/icons/SkipArrow.svg"
            alt=""
            class="songPlayer--pastSong"
          />
          <img
            src="./assets/icons/play.svg"
            alt=""
            class="songPlayer--playPause"
          />
          <img
            src="./assets/icons/SkipArrow.svg"
            alt=""
            class="songPlayer--nextSong"
          />
        </div>
        <div class="songPlayer--timeline">
          <p class="songPlayer--currentTime">01:00</p>
          <div class="songPlayer--line">
            <div class="songPlayer--lineProgress"></div>
          </div>
          <p class="songPlayer--duration">02:01</p>
        </div>
      </div>
      <div class="extraControls">
        <div class="extraControls--volume">
          <img
            src="./assets/icons/volume-up.svg"
            alt=""
            class="extraControls--volumenIcon"
          />
          <div class="extraControls--volumeProgress"></div>
        </div>
      </div>
    </footer>
  </body>
</html>
